
:root {
    --yellow-color: rgb(255, 217, 0);
}
* {
    box-sizing: border-box;
}

body,
p,
a,
li {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

a {
    opacity: 1;
    transition: all .4s ease;
}

a:hover {
    text-decoration: none;
    opacity: 0.8;
}

img {
    display: block;
    width: 100%;
    height: auto;
}


/* Navigation */
.navigation {
    background: rgb(255, 217, 0);
    width: 100%;
}

.navigation .main-menu {
    display: flex;
}

.navigation .main-menu li a {
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 100%;
}
.navigation .main-menu li a:hover {
    opacity: 1;
}

.navigation .main-menu li {
    height: 70px;
    padding: 0 20px;
    background: var(--yellow-color);
    transition: all .4s ease;
}
.navigation .main-menu li:hover {
    background: #333;
    cursor: pointer;
    transition: all .4s ease;
}

.navigation .main-menu li:last-child {
    margin-right: 0;
}

.navigation .address-section {
    display: flex;
    height: 100%;
    align-items: center;
}

.navigation .search {
    width: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    background: #333;
    opacity: 0.7;
    cursor: pointer;
}

.navigation .address-section .search .fa-search {
    font-size: 22px;
    margin: auto;
    color: #fff;
}